{% block body%}
{% if data %}
	<p align="Center">{{data}}</p>
{% endif %}
{% endblock %}
<form action="/CheckAvailability" method="POST">
	<p align="middle">
		<p align="center">Enter Check-In Date</p>
		<p align="center"><input type="date" name="CheckinDate" placeholder="currCheckinDate" required="required"></p>
		<p align="center" >Enter Check-Out Date</p>
		<p align="center"><input type="date" name="CheckoutDate" placeholder="currCheckoutDate" required="required"></p>
		<p align="center"><input type="submit" value="Find"></p>
	</p>
</form>