<form action="/Checkin" method="POST">
		<p align="center">
			Name: <input type="Text" name="Name">
		</p>
		<p align="center">
			Gender
			Male	
			<input type="radio" value="M" name="gender">
			Female
			<input type="radio" name="gender" value="F">
		</p>
		<p align="center">
			Phone:
			<input type="number" name="Phone" min="1000000000" max="9999999999">
		</p>
		<p align="center">
		Enter Your ID Proof number
		</p>
		<p align="center">
			<input type="text" name="idproof">
		</p>
		<p align="center">
			<input type="submit" name="Checkin" value="Checkin">
		</p>
</form>	